# Exkludera konfigurationsmappen:
.idea/

# Exkludera filer i temporära mappar:
out/
output_tmp_files/*

#Exkludera inte denna (i så fall raderas mappen)
!output_tmp_files/

# Exkludera filer i projektmappen:
RekursivFibonacci.html
*.iml